.page {
    width: 90%;
    margin: 0 auto;
}
.card {
  width: 30%;
  float: left;
  padding: 10px;
  margin: 0 3em 1em 0;
  z-index: 0 !important;
}

.main {
  padding: 10px;
  margin: 0 0 0 0;
}

.main.H1
{
  color : #CCFF99;
  background-color : #4AA5FF;
  font-size : 18pt;
  font-weight : bold;
  border-left : solid 1em;
  border-color : #99CCFF;
  border-right : solid 1em;
  border-color : #99CCFF;
  padding-left : 1em;
  padding-right : 1em;
}

.main.H2
{
  color : #CCFF99;
  background-color : #4AA5FF;
  font-size : 16pt;
  font-weight : bold;
  border-left : solid 1em;
  border-color : #99CCFF;
  border-right : solid 1em;
  border-color : #E4E4E4;
  padding-right : 1em;
  padding-left : 1em;
} 

